{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style>
    .container{
    align-items:center;
    justify-content:center;
    display:flex;
    }
    body{
      background:#e9ecef;
        margin:0 auto;
    }
    .fff{
      background:white;
      width:40%;
      height:40%;
      margin-top:50px;
    }
}
</style>
<div class="container" style="height:100%; width:100%; margin:auto;">

  <div class="fff" style="text-align:center;">
    <h5 class="card-title my-2 mx-2">Delete {{product.name}}?</h5>
  <div class="card-body">
    <form method="post">
      {%csrf_token%}
      <input type="hidden" name="product_id" value="{{product.product_id}}">
      <input type="submit" class="btn btn-danger" value="Delete">
     
      <a   class="btn btn-warning" href="{%url 'main:product_detail' product.product_id %}">Cancel</a>
    </form>
  </div>
</div>


</div>
{% endblock %}